<?xml version="1.0" encoding="UTF-8"?>

/* 
STEP 1 ( in hibernate.cfg.xml file) : adding DTD(Document Type Defination ) of Hibernate 
*/



<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
/* STEP 2 : adding Hibernate configuartion under that we can define Session factory   */	
	
<hibernate-configuration>
		<session-factory>
		/* 
	STEP 3 (in hibernate.cfg.xml file) : adding property to the configuration files like driver class,
	dialect etc.										
		*/
			<property name="connection.driver_class">com.mysql.jdbc.driver</property>
			<property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
			<property name="connection.username">root</property>
			<property name="dialect">org.hibernate.dialect.MYSQLDialect</property>
			<property name="hbm2ddl.auto">update</property>
			<property name="show_sql">true</property>
			
	/* STEP 3 : here all class files have to be mentioned that are being used in app.java file 
	  */		
			<mapping class="com.samudra.ProjectWithMaven.student" />
			<mapping class="com.samudra.ProjectWithMaven.address" />
		</session-factory>

</hibernate-configuration>